@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;500;600;700;800;900&display=swap");
* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
 /* DESKTOP and TABLET */
 @media (min-width: 992px)  {  

  /* TOP */

  
  .topSide{
    display: flex;
    flex-direction: row;
    margin-left: 8.40vw;
    margin-top: 6.94vw;
  }
  .firstSection{
    display: flex;
    flex-direction: column;
  }
  .secondSection{
    display: flex;
    flex-direction: row;
  
  }
  .topLogo{
    width: 7.77vw;
    height: 4.58vw;
    margin-top: 1.46vw;
    margin-left: 8.40vw;
  }
  .logoOne, .logoTwo{
    margin-right: 1.73vw;
  }
  .logoOnePic, .logoTwoPic, .logoThreePic {
    width: 1.527vw;
    height: 1.46vw;
  }
  
  .man{
    margin-left: 9.72vw;
    width: 21.11vw;
    height: 24.72vw;
    z-index: 2;
    margin-top: 0.28vw;
    
  }
  .ellipse{

    position: absolute;
    width: 19.02vw;
    height: 2.84vw;
    left: 63.958vw;
    top: 38.75vw;
    z-index: 1;
  }
  .logoOne, .logoTwo, .logoThree{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.39vw;
    line-height: 115%;
    width: 11.1vw;
    height: 2.22vw;
  }
  .heading{
    margin-top: 2.01vw;
    margin-left: 8.40vw;
  }
  
  .heading1{
    width: 43.6vw;
    height: 13.19vw;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 5.555vw;
    line-height: 101.38%;
  
  }
  .liText{
    width: 28.75vw;
    height: 4.3vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.39vw;
    line-height: 150%;
  }
  
   .quote{
    width: 33.585vw;
    height: 13.9vw;
    margin-left: 28.429vw;
    margin-top: 13.67vw;
    background: #1E4681;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  
  }
  .quote1{
    margin-top: 1.337vw;
    margin-bottom: 4.7vw;
    margin-left: 1.807vw;
    margin-right: 1.876vw; 
    background-color: #1E4681 ;
    width: 29.9vw;
    height: 7.847vw;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 1.736vw;
    line-height: 130%;
    color: #FFFFFF;
  } 
  .quoteAuthor{
    margin-left: 11.1vw;
    width: 19.479vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.39vw;
    line-height: 130%;
    text-align: right;
    color: #FFFFFF;
  } 



 /* BOTTOM */
.footerTop{
width: 100%;
height: 54.1vw;
background: #9DC9C8;
margin-top:7.70vw;
}
.footerTopfHead{
  font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 3.8vw;
line-height: 101.38%;
width: 68.5vw;
height: 4.58vw;
margin-bottom: 3.75vw;
color: #000000;
}
.textMidHead{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.73vw;
line-height: 101.38%;
width: 11.08vw;
height: 2.22vw;
color: #000000;
}
.textMidBody{
width: 33.40vw;
height: 12.569vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 5.55vw;
line-height: 101.38%;
color: #000000;
}
.text1Head{
width: 20.41vw;
height: 2.22vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.73vw;
line-height: 101.38%;
color: #000000;
}
.text1Body{
width: 20.41vw;
height: 4.86vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.25vw;
line-height: 101.38%;
color: #000000;
}
.text2Head{
width: 22.36vw;
height: 2.22vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.73vw;
color: #000000;
line-height: 101.38%;
}
.text2Body{
width: 20.41vw;
height: 4.86vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.25vw;
line-height: 101.38%;
color: #000000;
}
.textHBH{
  display: flex;
}
.footerTopBody{
  margin-left: 8.47vw;
}
.textHB{
  margin-right: 4.86vw;
  /* margin-top:; */
}
.footerTop{
  display: flex;
  align-items: center;
}
.insta, .fb, .letterW, .phoneW, .wk, .messenger{
  width: 2.29vw;
 height: 2.29vw;
}
.bottomLogo{
  width: 7.89vw;
  height: 4.72vw;
  margin-top: 3.47vw;
  margin-left: 8.47vw;
}
.conn, .conn1, .bottomText{
color: white;

}

img.phoneW{
  margin-right: 1.52vw;
}
img.letterW{
  margin-right: 1.52vw;
}
.conn{
width: 22.56vw;
height: 2.77vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.73vw;
line-height: 101.38%;
display: flex;
flex-direction: row;
}
.conn1{
 width: 20.83vw;
height: 2.77vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 1.73vw;
line-height: 101.38%;
margin-top: 1.73vw;
display: flex;
flex-direction: row;
}
.social{
  display: flex;
  margin-top: 2.08vw;
  margin-left: 8.47vw;
}
.insta, .fb, .wk{
  margin-right: 1.25vw;
}
.footerBottom{

  width: 100%;
  height: 27.08333vw;
  background: #000000;
}
.bottomRow{
  display: flex;
  flex-direction: row;
}
.bottomRowLeft{
  display: flex;
  flex-direction: column;
}
.bottomText{
  width: 15.97vw;
  height: 2.77vw;  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 101.38%;
  margin-top: 10.13vw;
  margin-left: 8.47vw;
}
.bottomRowRight{
  display: flex;
  flex-direction: column;
  margin-left: 54.7vw;
  margin-top: 3.47vw;
}

}

/* MOBILE */

@media (min-width: 320px) and (max-width:991px) {

  /* TOP */
  .topSide{
    display: flex;
    flex-direction: row;
    margin-left: 8.40vw;
    margin-top: 6.94vw;
  }
  .firstSection{
    display: flex;
    flex-direction: column;
  }
  .secondSection{
    display: flex;
    flex-direction: column;
    
  
  }
  .topLogo{
    width: 13.24vw;
    height: 7.8vw;
    margin-top: 9.13vw;
    margin-left: 8.88vw;
  }
  .logoOne, .logoTwo{
    margin-right: 2.95vw;
  }
  .logoOnePic, .logoTwoPic, .logoThreePic {
    width: 2.6vw;
    height: 2.6vw;
  }
  
  .man{
    margin-left: 51.01vw;
    width: 35.95vw;
    height: 42.1vw;
    z-index: 2;
    margin-top: 0.28vw;
    z-index: 2;
    
  }
  .ellipse{

    /* position: absolute; */
    width: 32.4vw;
    height: 4.8vw;
    margin-left: 54.56vw;
    margin-right: 8.20304569vw;
    margin-top: -2vw;
    z-index: 1;
  }
  .logoOne, .logoTwo, .logoThree{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.54vw;
    line-height: 115%;
    width: 19vw;
    height: 3.78vw;
   
  }
  .heading{
    margin-top: 2.01vw;
    margin-left: 8.40vw;
  }
  
  .heading1{
    width: 74.27vwvw;
    height: 22.46vw;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 9.39vw;
    line-height: 101.38%;
  
  }
  .liText{
    width: 53.9vw;
    height: 7.35vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.54vw;
    line-height: 150%;
  }
  
   .quote{
    width: 57.19vw;
    height: 21vw;
    margin-right: 28.34vw;
    margin-top: 13.67vw;
    margin-left:9.64vw ;
    background: #1E4681;
    border-radius:0.589vw;
    display: flex;
    flex-direction: column;
  
  }
  .quote1{
    margin-top: 2.27vw;
    margin-bottom: 4.7vw;
    margin-left: 3.07vw;
    margin-right: 3.19vw; 
    background-color: #1E4681 ;
    width: 50.76vw;
    height: 13.36vw;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 2.79vw;
    line-height: 130%;
    color: #FFFFFF;
  } 
  .quoteAuthor{
    margin-left: 18vw;
    width: 33.172vw;
    margin-top: 1.8vw;
   
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.53vw;
    line-height: 130%;
    text-align: right;
    color: #FFFFFF;
  } 



 /* BOTTOM */
.footerTop{
width: 100%;
height: 92.248vw;
background: #9DC9C8;
margin-top:7.70vw;
}
.footerTopfHead{
  font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 6.598vw;
line-height: 101.38%;
width: 56.852vw;
height: 15.989vw;
margin-bottom: 3.75vw;
display: flex;
flex-wrap: wrap;
color: #000000;
}
.textMidHead{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 3.04vw;
line-height: 101.38%;
width: 11.08vw;
height: 2.22vw;
color: #000000;
margin-bottom: 3.29vw;
}
.textMidBody{
width: 56.852vw;
height: 12.569vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 9.39vw;
line-height: 101.38%;
color: #000000;
}
.text1Head{
width: 34.77vw;
height: 3.78vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 3.04vw;
line-height: 101.38%;
color: #000000;
}
.text1Body{
width: 35.02vw;
height: 11.92vw;
margin-top: 1.142vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 2.53vw;
line-height: 101.38%;
color: #000000;
}
.text2Head{
width: 38.32vw;
height: 3.55vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 3.04vw;
color: #000000;
line-height: 101.38%;
}
.text2Body{
width: 35.53vw;
height: 9.644vw;
margin-top: 1.142vw;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 2.53vw;
line-height: 101.38%;
color: #000000;
}
.textHBH{
  display: flex;
}
.footerTopBody{
  margin-left: 8.47vw;
}
.textHB{
  margin-right: 4.86vw;
  /* margin-top:; */
}
.footerTop{
  display: flex;
  align-items: center;
}
.insta, .fb, .letterW, .phoneW, .wk, .messenger{
  width: 2.29vw;
 height: 2.29vw;
}
.bottomLogo{
  width: 13.601vw;
  height: 8.04vw;
  margin-top: 5.91vw;
  margin-left: 14.428vw;
}
.conn, .conn1, .bottomText{
color: white;

}

img.phoneW{
  width: 3.19vw;
  height: 3.19vw;
  /* margin-right: 1.52vw; */
}
img.letterW{
  width: 3.19vw;
  height: 2.12vw;
  /* margin-right: 1.52vw; */
}
.conn{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 3.04vw;
line-height: 101.38%;
display: flex;
flex-direction: row;
margin-top: 12.68vw;
}
#conn{
width: 27.2vw;
height: 4.73vw;
margin-left: 2.6vw;
}
#conn1{
  width: 27.2vw;
  height: 4.73vw;
  margin-left: 2.6vw;
}
.conn1{
  display: flex;
flex-direction: row;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 3.04vw;
line-height: 101.38%;
margin-top: 1.73vw;
}
.social{
  display: flex;
  margin-top: 3.54vw;
  margin-left: 14.42vw;
}
.insta, .fb, .wk, .messenger{
  margin-right: 1.25vw;
  width:3.9vw;
  height:3.9vw;
}
.footerBottom{

  width: 100%;
  height: 63.70vw;
  background: #000000;
  display: flex;
  flex-direction: column;
}
.bottomRow{
  display: flex;
  flex-direction: column;
}
.bottomRowLeft{
  display: flex;
  flex-direction: column;
}
.bottomText{
  width: 35.78vw;
  height: 4.82vw;  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size:2.53vw;
  line-height: 101.38%;
  margin-top: 10vw;
  margin-left: 14.46vw;

}
.bottomRowRight{
  display: flex;
  flex-direction: column;
  margin-left: 14.4vw;
  margin-top: 3.47vw;
}

}

